:root {
    --color-accent: #6C2009;
    --color-background: #F0F0F0;
    --color-light-gray: #C4C5C9;
    --color-dark-gray: #36312B;
    --color-not-easy-white: #EDEDED;
    --color-hover: #772d16;
  }