:root {
  --color-accent: #6C2009;
  --color-background: #F0F0F0;
  --color-light-gray: #C4C5C9;
  --color-dark-gray: #36312B;
  --color-not-easy-white: #EDEDED;
  --color-hover: #772d16;
}

:root {
    font-family: 'Roboto Mono', monospace;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    background: var(--color-background);
    max-width: 393px;
    padding: 50px;
    margin: auto;
  }
  
  button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
  }